#box_inicial{
    width: 400px;
    height: 200px;
    background-color: red;
}

#box_meio{
    width: 400px;
    height: 200px;
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 50px;
    border: 10px solid black;
}

#box_final{
    width: 400px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(90, 90, 90, 0.5) ;
    border: 2px solid #CCCCCC;
}
